MONGO_URI=mongodb+srv://society:society@cluster0.ydjdd.mongodb.net/societydb?retryWrites=true&w=majority&appName=Cluster0
SECRET_KEY=sk_test_51PA7DZJ4JtpKs8bKH70GloKeotr8A9igZgL7k2xes6JFzaT0BYbjr3rlfPtDYMl4c2UCFAN3GppVojVDs5KVKgKW00l2lV4cny