<!-- All features -->
<%- include('partials/navbar') %>

<!-- UI Improvement, add text background -->
<div class="container home-container">
  <div class="features">
      <div class="row">
        <div class="col-md-4 zoomHome" onclick="location.href='/residents'">
          <div class="thumbnail">
            <img src="images/r.jpg" alt="residents" style="height: 200px;">
            <div class="caption">
              <center><h3>MEMBERS</h3></center>
            </div>
          </div>
        </div>
        <div class="col-md-4 zoomHome" onclick="location.href='/noticeboard'">
          <div class="thumbnail">
            <img src="https://images.unsplash.com/photo-1599009432364-3dc0d1932da2?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="noticeboard" style="height: 200px;">
            <div class="caption">
              <center><h3>NOTICE</h3></center>
            </div>
          </div>
        </div>
        <div class="col-md-4 zoomHome" onclick="location.href='/bill'">
          <div class="thumbnail">
            <img src="https://plus.unsplash.com/premium_photo-1678139620956-cbd87b6ba3d0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="bill" style="height: 200px;">
            <div class="caption">
              <center><h3>BILL</h3></center>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 zoomHome" onclick="location.href='/helpdesk'">
          <div class="thumbnail">
          <img src="https://img.freepik.com/free-photo/sales-assistant-being-employed-customer-care-support-job-working-telemarketing-call-center-helpdesk-female-receptionist-with-helpline-service-helping-clients-remote-communication_482257-43021.jpg?t=st=1737906829~exp=1737910429~hmac=20bf86c9d7e38923c92f55ebc715c7e41fccfb5102b2ef39aaba42bab4431425&w=1380" alt="helpdesk" style="height: 200px;">
          <div class="caption">
            <center><h3>SUPPORT</h3></center>
            </div>
          </div>
        </div>
        <div class="col-md-4 zoomHome" onclick="location.href='/contacts'">
          <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1587560699334-bea93391dcef?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Emergency no's" style="height: 200px;">
          <div class="caption">
            <center><h3>CONTACTS</h3></center>
            </div>
          </div>
        </div>
        <div class="col-md-4 zoomHome" onclick="location.href='/profile'">
          <div class="thumbnail">
          <img src="https://images.unsplash.com/photo-1544502062-f82887f03d1c?q=80&w=2159&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="profile" style="height: 200px;">
          <div class="caption">
            <center><h3>PROFILE</h3></center>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<%- include('partials/footbar') %>